<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ayira Arts</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <!-- Choices CSS-->
    <link rel="stylesheet" href="{% static 'vendor/choices.js/public/assets/styles/choices.min.css' %}">
    <!-- Custom Scrollbar-->
    <link rel="stylesheet" href="{% static 'vendor/overlayscrollbars/css/OverlayScrollbars.min.css' %}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'images/img/favicon.ico' %}">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <!-- Side Navbar -->
    <nav class="side-navbar">
      <div class="side-navbar-inner">
        <!-- Sidebar Header    -->
        <div class="sidebar-header d-flex align-items-center justify-content-center p-3 mb-3">
          <!-- User Info-->
          <div class="sidenav-header-inner text-center"><img class="img-fluid rounded-circle avatar mb-3" src="{% static 'images/ayra.jpg' %}" alt="person">
            <h2 class="h5 text-white text-uppercase mb-0">AYISHA HEBA</h2>
            <p class="text-sm mb-0 text-muted">Artist</p>
          </div>
          <!-- Small Brand information, appears on minimized sidebar--><a class="brand-small text-center" href="d">
            <p class="h1 m-0">AA</p></a>
        </div>
        <!-- Sidebar Navigation Menus--><span class="text-uppercase text-gray-500 text-sm fw-bold letter-spacing-0 mx-lg-2 heading">Main</span>
        <ul class="list-unstyled">
          <li class="sidebar-item"><a class="sidebar-link" href="../d">
              <svg class="svg-icon svg-icon-sm svg-icon-heavy me-2">
                <use xlink:href="#real-estate-1"> </use>
              </svg>Home </a></li>


           <li class="sidebar-item"><a class="sidebar-link" href="#b" data-bs-toggle="collapse">
              <svg class="svg-icon svg-icon-sm svg-icon-heavy me-2 ">
                <use xlink:href="#pen-1"> </use>
              </svg>products</a></li>
            <ul class="collapse list-unstyled " id="b">
              <li><a class="sidebar-link" href="../ord">All items</a></li>
              <li><a class="sidebar-link" href="../abs">Abstract</a></li>
                <li><a class="sidebar-link" href="../pen">Pencil</a></li>
                <li><a class="sidebar-link" href="../dig">Digital Portraits</a></li>
            </ul>
          </li>
          <li class="sidebar-item"><a class="sidebar-link" href="../ordt">
              <svg class="svg-icon svg-icon-sm svg-icon-heavy me-2">
                <use xlink:href="#chart-1"> </use>
              </svg>your orders</a></li>

        </ul>
      </div>
    </nav>
    <div class="page">
      <!-- navbar-->
      <header class="header mb-5 pb-3">
        <nav class="nav navbar fixed-top">
          <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between w-100">
              <div class="d-flex align-items-center"><a class="menu-btn d-flex align-items-center justify-content-center p-2 bg-gray-900" id="toggle-btn" href="#">
                  <svg class="svg-icon svg-icon-sm svg-icon-heavy text-white">
                    <use xlink:href="#menu-1"> </use>
                  </svg></a><a class="navbar-brand ms-2" href="#">
                  <div class="brand-text d-none d-md-inline-block text-uppercase letter-spacing-0"><span class="text-white fw-normal text-xs">AYRA_ </span><strong class="text-primary text-sm">_ARTS_</strong></div></a></div>
              <ul class="nav-menu mb-0 list-unstyled d-flex flex-md-row align-items-md-center">
                <!-- Notifications dropdown-->
                   <li class="nav-item "><a href="../cart/..">
            <i class="fa fa-shopping-cart fa-2x"></i>
            <span>{% if d1 %}{{ d1.count }}{% else %}0{% endif %}</span>
        </a></li>
                <li class="nav-item dropdown"> <a class="nav-link text-white position-relative" id="notifications" rel="nofollow" data-bs-target="#" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                      <use xlink:href="#user-1"> </use></svg></a>
                  <ul class="dropdown-menu dropdown-menu-end mt-sm-3 shadow-sm" aria-labelledby="notifications">
                    <li><a class="dropdown-item text-center" href="p"> <strong >Profile</strong></a></li>
                     <li><a class="dropdown-item text-center" href="ul"> <strong>Logout</strong></a></li>
                  </ul>
                </li>

              </ul>
            </div>
          </div>
        </nav>
      </header>
      <!-- Breadcrumb-->
      <div class="bg-gray-200 text-sm">
        <div class="container-fluid">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 py-3">
              <li class="breadcrumb-item"><a class="fw-light" href="../d">Home</a></li>
              <li class="breadcrumb-item active fw-light" aria-current="page">Items </li>
            </ol>
          </nav>
        </div>
      </div>
      <!-- Page Header-->
      <header class="py-4">
        <div class="container-fluid py-2">
          <h1 class="h3 fw-normal mb-0">Items</h1>
        </div>
      </header>
      <section>
        <div class="container-fluid">
          <div class="row">

<!--        <div class="container" >-->
<!--            <div class="alert alert-success alert-dismissible messages">-->
<!--            {% for message in messages %}-->
<!--            <button type="button" class="close" data-dismiss="alert">&times;</button>-->
<!--                {{message}}-->
<!--                </div>-->
<!--                 {% endfor %}-->
<!--        </div>-->

              {% for i in data %}
            <div class="row float-left col-lg-3" style="padding:50px;">
                <div class="container col-lg-12 mh-100 bg-light" style="display:flex;margin-left:40px;padding:20px;" >
                        <div class="img-wrapper">
		                    <img src="{{i.iid.image.url}}" height="150" width="150"><br><br>
                             <h5>{{i.iid.iname}}</h5>
                             <h5 >Rs.{{i.iid.rate}}</h5>
                            available:{{i.iid.qty}}


                            {% if messages %}
   					 <font class="messages" color="white">
        				{% for message in messages %}
           				<i {% if message.tags %} class="{{ message.tags }}"{% endif %}>&emsp;{{ message }}</i>
						 {% endfor %}
					 </font>
					{% endif %}

                         <font color="red">{{m}}</font>

                            <p>{{i.cqty}}</p>
                            <form method="post" action="{% url 'dcqty' id=i.pk %}" >
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-primary">-</button>
                            </form>

                        <form method="post" action="{% url 'inqty' id=i.pk %}" style="margin-left:60px;margin-top:-38px;">
                            {% csrf_token %}
                             <button type="submit" class="btn btn-outline-primary">+</button>
                        </form>
                            <a href="../ord" class="btn btn-primary mt-2">Add More</a>
                             <a href="../rm/{{i.pk}}"><button type="button" class="btn btn-primary mt-2" >remove</button></a>
                        </div>
            </div>
    </div>&emsp;
                            {% endfor %}

                          Total items:{% if data %}{{ data.count }}{% else %}0{% endif %}
                            <br>
                              &emsp;  Total Price:{{total}}<br><br>
                          <a href="../mr" class="btn btn-danger" style="size:20">place order</a>

         </div>  </div>    <br>
    <center><a href="../d" class="btn btn-primary" style="size:20">cancel</a></center>
       </section>

    </div>
    <!-- JavaScript files-->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'vendor/just-validate/js/just-validate.min.js' %}"></script>
    <script src="{% static 'vendor/choices.js/public/assets/scripts/choices.min.js' %}"></script>
    <script src="{% static 'vendor/overlayscrollbars/js/OverlayScrollbars.min.js' %}"></script>
    <!-- Main File-->
    <script src="{% static 'js/front.js' %}"></script>
    <script>
      // ------------------------------------------------------- //
      //   Inject SVG Sprite -
      //   see more here
      //   https://css-tricks.com/ajaxing-svg-sprite/
      // ------------------------------------------------------ //
      function injectSvgSprite(path) {

          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }
      // this is set to BootstrapTemple website as you cannot
      // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
      // while using file:// protocol
      // pls don't forget to change to your domain :)
      injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');


    </script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </body>
</html>